input {
    keyboard {
        xkb {
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        tap
        scroll-factor 0.5
        natural-scroll
    }

    mouse {
    }

    // make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus
}

cursor {
    xcursor-theme "phinger-cursors-dark"
    xcursor-size 20

    // hide-when-typing
}

output "HDMI-A-1" {
    focus-at-startup
}

// Remember to uncomment the node by removing "/-"!
output "eDP-1" {
    scale 1
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    center-focused-column "never"

    background-color "#1e1e2e"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 1.0; }

    // You can change how the focus ring looks.
    focus-ring {
        width 4

        // active-color "#74c7ec"
        active-color "#cba6f7"
        inactive-color "#505050"
        // active-gradient from="#74c7ec" to="#cba6f7" angle=45
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swww-daemon"
spawn-at-startup "emacs --daemon"
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwaylandvideobridge"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

animations {
    // slowdown 3.0
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC|KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id="^Alacritty|thunar$"
    default-column-width { proportion 0.5; }
}

workspace "browser"
workspace "emacs"
workspace "dev"
workspace "dev2"
workspace "communication"

// scratchpads stuff
workspace "scratch"

// TODO: quick text, dots-todo, system monitor
window-rule {
    match app-id=r#"^org.keepassxc.KeePassXC|KeePassXC|qalculate-gtk|Spotify|xwaylandvideobridge$"#
    open-on-workspace "scratch"
    open-floating true
    default-column-width { proportion 0.8; }
    default-window-height { proportion 0.8; }
}

spawn-at-startup "keepassxc"
spawn-at-startup "qalculate-gtk"
spawn-at-startup "flatpak run com.spotify.Client"

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

overview {
    backdrop-color "#181825"
}

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "alacritty"; }
    Mod+B { spawn-sh "flatpak run app.zen_browser.zen"; }
    Mod+Shift+F { spawn "thunar"; }
    Mod+e { spawn-sh "emacsclient -c -a 'emacs'"; }

    Mod+R { spawn-sh "rofi -show drun"; }
    Mod+Shift+R { spawn-sh "rofi -show run"; }
    Mod+Shift+W { spawn-sh "rofi -show window"; }
    Mod+Shift+P { spawn-sh "~/.config/rofi/scripts/powermenu.sh"; }
    Mod+S { spawn-sh "~/.config/rofi/scripts/settings.sh"; }

    Super+Alt+L hotkey-overlay-title="<span foreground='red'>Lock the Screen: hyprlock</span>" { spawn "hyprlock"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop         allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+W repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home hotkey-overlay-title="Focus first column" { focus-column-first; }
    Mod+End  hotkey-overlay-title="Focus last column" { focus-column-last; }
    Mod+Ctrl+Home hotkey-overlay-title="Move column first" { move-column-to-first; }
    Mod+Ctrl+End  hotkey-overlay-title="Move column last" { move-column-to-last; }

    Mod+Period     { focus-monitor-next; }
    Mod+Comma      { move-workspace-to-monitor-next; }
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  hotkey-overlay-title="Consume or expelwindow left" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Consume or expelwindow right" { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Shift+Comma  hotkey-overlay-title="Consume window into column" { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Shift+Period hotkey-overlay-title="Consume window into column" { expel-window-from-column; }

    Mod+Tab { switch-preset-column-width; }
    Mod+Ctrl+R { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Ctrl+F { fullscreen-window; }

    Mod+Ctrl+C hotkey-overlay-title="center column" { center-column; }
    // Mod+Ctrl+C { center-visible-columns; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }
    Mod+Shift+T { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    Mod+Ctrl+W hotkey-overlay-title="Toggle tabbed column" { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print hotkey-overlay-title="Screenshot screen" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Screenshot window" { screenshot-window; }

    Mod+Escape allow-inhibiting=false hotkey-overlay-title="Escape inhibiting" { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Ctrl+Q { quit; }
    
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Ctrl+P { power-off-monitors; }

    // scratchpads:
    Mod+P { spawn-sh "~/.config/niri/scratchpad.sh KeePassXC"; }
    Mod+C { spawn-sh "~/.config/niri/scratchpad.sh qalculate-gtk"; }
    Mod+G { spawn-sh "~/.config/niri/scratchpad.sh Spotify"; }
}
